body {
    background-color: lightblue;
  }
body{

     color: #0F0F0F;

}
 h1{
    color:  #232D3F;
    text-align: center;
 }
 h1{
    color:white;
 }
 p {
  font-weight:bold;
}
 h2{
    color: #005B41;
 }
main image{
    width: 50%;

 }